{% extends 'base.html.twig' %}

{% block body %}
{% if form is defined %}
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-success">Create List</button>
{{ form_end(form) }}
{% endif %}
<h2>Mylists</h2>
{% endblock %}